In [64]:
import pandas as pd

In [65]:
def summarize(dataframe):
    return pd.DataFrame({"Total Number of Wine Reviews" : [len(dataframe['Title'].unique())],
                "Total Number of Wineries": [len(dataframe['Winery'].unique())],
                "Total Number of Provinces": [len(dataframe['Province'].unique())],
                "Total Number of Countries": [len(dataframe['Country'].unique())],
                "Total Number of Years" : [len(dataframe['Year'].unique())],
                "Total Number of Tasters": [len(dataframe['Taster'].unique())]})

In [66]:
merged_df_csv = pd.read_csv("winedata_coord.csv")
merged_df_csv = merged_df_csv.drop(columns=["Unnamed: 0"])
merged_df_csv.head(1)

,Title,Variety,Year,Price,Grade,Winery,Province,Region,Country,Taster,Taster_Twitter,Description,Latitude,Longitude
0,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,2011,15.0,87,Quinta dos Avidagos,Douro,NaN,Portugal,Roger Voss,@vossroger,"This is ripe and fruity, a wine that is smooth...",41.512019,-5.492255

In [67]:
summarize(merged_df_csv)

,Total Number of Wine Reviews,Total Number of Wineries,Total Number of Provinces,Total Number of Countries,Total Number of Years,Total Number of Tasters
0,100740,14474,215,12,13,18

In [68]:
wine_varieties = merged_df_csv["Variety"]
len(wine_varieties)

101085

In [69]:
len(wine_varieties.unique())

578

In [70]:
wine_varieties.value_counts()

Pinot Noir                      11307
Chardonnay                       9343
Cabernet Sauvignon               8135
Red Blend                        7086
Bordeaux-style Red Blend         4739
Riesling                         4260
Sauvignon Blanc                  4091
Syrah                            3620
Rosé                             2852
Merlot                           2524
Malbec                           2357
Zinfandel                        2332
Nebbiolo                         2107
Sangiovese                       2005
Portuguese Red                   1983
White Blend                      1648
Tempranillo                      1565
Rhône-style Red Blend            1227
Pinot Gris                       1217
Cabernet Franc                   1136
Portuguese White                  894
Viognier                          882
Grüner Veltliner                  853
Pinot Grigio                      845
Gewürztraminer                    838
Gamay                             745
Sparkling Blend                   697
Petite Sirah                      680
Shiraz                            662
Bordeaux-style White Blend        626
                                ...
Merlot-Syrah                        1
Moscato di Noto                     1
Muscat of Alexandria                1
Albanello                           1
Pinot Blanc-Viognier                1
Barbera-Nebbiolo                    1
Garnacha-Cabernet                   1
Cercial                             1
Favorita                            1
Torontel                            1
Lambrusco Salamino                  1
Groppello                           1
Ondenc                              1
Merseguera-Sauvignon Blanc          1
Vespaiolo                           1
Picapoll                            1
Syrah-Bonarda                       1
Cococciola                          1
Tinta Amarela                       1
Syrah-Grenache-Viognier             1
Pinot Blanc-Pinot Noir              1
Merlot-Shiraz                       1
Torbato                             1
Vermentino Nero                     1
Albarossa                           1
Blauburgunder                       1
St. Vincent                         1
Biancolella                         1
Maria Gomes-Bical                   1
Muscat Blanc à Petits Grains        1
Name: Variety, Length: 578, dtype: int64

In [74]:
["Merlot-Shiraz", "Syrah-Grenache-Viognier"]

['Merlot-Shiraz']

In [71]:
wine_type = []

index = 0

for variety in wine_varieties:
    wine_variety_strings = []
    for string in variety.split():
        wine_variety_strings.append(string.lower())
    if "red" in wine_variety_strings:
        wine_type.append("Red Wine")
    elif "white" in wine_variety_strings:
        wine_type.append("White Wine")
    elif "pinot"in wine_variety_strings:
        wine_type.append("Red Wine")
    else:
        wine_type.append("TBD")

    index = index + 1

In [72]:
wine_type_df = pd.DataFrame(wine_type)
wine_type_df.head()

            0
0    Red Wine
1  White Wine
2    Red Wine
3    Red Wine
4    Red Wine

In [73]:
wine_type_df = pd.DataFrame(wine_type)
wine_type_df[0].value_counts()

TBD           68282
Red Wine      29133
White Wine     3670
Name: 0, dtype: int64

In [ ]:
for row in merged_df_csv.itertuples():

In [ ]:
for index, row in merged_df_csv.iterrows():
    if "Red" in row["Variety"]:
        merged_df_csv.loc[index, "Type"] = "Red Wine"

In [ ]:
summarize(merged_df_csv)