In [1]:
import pandas as pd

In [2]:
new_csv_file = pd.read_csv("winedata_edited.csv")

df=new_csv_file.head(5)

In [3]:
# Reference multiple columns within a DataFrame
df[["Province", "Region"]].head()

         Province               Region
0           Douro                  NaN
1          Oregon    Willamette Valley
2        Michigan  Lake Michigan Shore
3          Oregon    Willamette Valley
4  Northern Spain              Navarra

In [4]:
# The unique method shows every element of the series that appears only once
unique_Region = df["Region"].unique()
unique_Region

array([nan, 'Willamette Valley', 'Lake Michigan Shore', 'Navarra'],
      dtype=object)

In [5]:
# The value_counts method counts unique values in a column
count_Province = df["Province"].value_counts()
count_Province

Oregon            2
Michigan          1
Northern Spain    1
Douro             1
Name: Province, dtype: int64

In [6]:
# Reorganizing the columns using double brackets
PR_data = df[["Province","Region","Country"]]
PR_data.head(100)

         Province               Region   Country
0           Douro                  NaN  Portugal
1          Oregon    Willamette Valley        US
2        Michigan  Lake Michigan Shore        US
3          Oregon    Willamette Valley        US
4  Northern Spain              Navarra     Spain

In [7]:
# Collect only those projects that were hosted in the US
Region_NaN = PR_data.loc[PR_data["Region"]!="NaN"]

Region_NaN.head()

         Province               Region   Country
0           Douro                  NaN  Portugal
1          Oregon    Willamette Valley        US
2        Michigan  Lake Michigan Shore        US
3          Oregon    Willamette Valley        US
4  Northern Spain              Navarra     Spain