In [27]:
#!pip install gmaps
#!jupyter nbextension enable --py gmaps

In [28]:
import pandas as pd
import gmaps as gmaps
import random as random
import numpy as np

google_api_key = "AIzaSyCD-hLoQ0fJPudE8-cEY2QPqUO84XhprnM"

In [29]:
#importing the edited CSV 

csv_file = pd.read_csv("winedata_coord.csv")
csv_file.head(1)

,Unnamed: 0,Unnamed: 0.1,Title,Variety,Year,Price,Grade,Winery,Province,Region,Country,Taster,Taster_Twitter,Description,Latitude,Longitude
0,0,1,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,2011,15,87,Quinta dos Avidagos,Douro,NaN,Portugal,Roger Voss,@vossroger,"This is ripe and fruity, a wine that is smooth...",41.512019,-5.492255

In [4]:
#Removing "Unnamed:0" column

df = csv_file.drop(columns=["Unnamed: 0", "Unnamed: 0.1"])
df.head(1)

,Title,Variety,Year,Price,Grade,Winery,Province,Region,Country,Taster,Taster_Twitter,Description,Latitude,Longitude
0,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,2011,15,87,Quinta dos Avidagos,Douro,NaN,Portugal,Roger Voss,@vossroger,"This is ripe and fruity, a wine that is smooth...",41.512019,-5.492255

In [5]:
#Dropping a decimal from "Price" column and re-naming the column

price = [int(x) for x in df["Price"]]
df["Price"] = price
df.head(1)

,Title,Variety,Year,Price,Grade,Winery,Province,Region,Country,Taster,Taster_Twitter,Description,Latitude,Longitude
0,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,2011,15,87,Quinta dos Avidagos,Douro,NaN,Portugal,Roger Voss,@vossroger,"This is ripe and fruity, a wine that is smooth...",41.512019,-5.492255

In [25]:
#This contains all the functions we need.

def find_title(dataframe, row):
    return (dataframe.loc[row,: "Title"])["Title"]

def find_year(dataframe, row):
    return (dataframe.loc[row,: "Year"])["Year"]

def find_country(dataframe, row):
    return (dataframe.loc[row,: "Country"])["Country"]

def find_description(dataframe, row):
    return (dataframe.loc[row,: "Description"])["Description"]

def find_price(dataframe, row):
    return (dataframe.loc[row,: "Price"])["Price"]

def print_wine_info(dataframe, row):
    print(f'     "{find_title(dataframe, row)}".')
    print(f'     The wine is from {find_country(dataframe, row)}, made in {find_year(dataframe, row)}, and may cost you ${find_price(dataframe, row)}.')
    print(f'     A reviewer says "{find_description(dataframe, row)}".')

def print_remaining_wine(dataframe):
    print(f'We can help you find a wine from {len(dataframe["Title"])} wine-reviews from {len((dataframe["Country"]).unique())} countries.')
    print(f'These wine are from {min(dataframe["Year"])} to {max(dataframe["Year"])} with a price range of ${min(dataframe["Price"])} to ${max(dataframe["Price"])}.')
    
def pick_a_wine(dataframe):
    return random.randrange(len(dataframe["Title"]))

def median_score(dataframe):
    return np.median(dataframe["Grade"])

def summarize(dataframe):
    return pd.DataFrame({"Total Number of Wine Reviews" : [len(dataframe['Title'].unique())],
                "Total Number of Wineries": [len(dataframe['Winery'].unique())],
                "Total Number of Provinces": [len(dataframe['Province'].unique())],
                "Total Number of Countries": [len(dataframe['Country'].unique())],
                "Total Number of Years" : [len(dataframe['Year'].unique())],
                "Total Number of Tasters": [len(dataframe['Taster'].unique())]})

In [26]:
median_score(df)

88.0

In [22]:
older_csv_file = pd.read_csv("winedata_edited.csv")

In [23]:
summarize(df)

,Total Number of Wine Reviews,Total Number of Wineries,Total Number of Provinces,Total Number of Countries,Total Number of Years,Total Number of Tasters
0,101012,14480,217,12,13,18

In [24]:
summarizeiolder_csv_fileder_csv_file)

,Total Number of Wine Reviews,Total Number of Wineries,Total Number of Provinces,Total Number of Countries,Total Number of Years,Total Number of Tasters
0,101379,14503,232,12,13,18

In [8]:
pick_a_wine(df)

24777

In [9]:
find_title(df, 0)

'Quinta dos Avidagos 2011 Avidagos Red (Douro)'

In [10]:
print_wine_info(df, pick_a_wine(df))

     "Walla Walla Vintners 2009 Pepper Bridge Vineyard Malbec (Walla Walla Valley (WA))".
     The wine is from US, made in 2009, and may cost you $32.
     A reviewer says "This pure Malbec carries spicy, slightly gamy scents similar to Syrah. Forward purple fruits fill the mouth, accented with notes of licorice, moist earth and dried herb. The finish leaves an impression of maple syrup, which is quite delicious.".

In [11]:
print_remaining_wine(df)

We can help you find a wine from 101357 wine-reviews from 12 countries.
These wine are from 2004 to 2016 with a price range of $4 to $3300.

In [12]:
#introducing our program

print(f'----------------------------')
print(f'Welcome to our Wine-Database.')
print(f'We can help you find a wine from {len(df["Title"])} wine-reviews from {len((df["Country"]).unique())} countries.')
print(f'These wine are from {min(df["Year"])} to {max(df["Year"])} with a price range of ${min(df["Price"])} to ${max(df["Price"])}.')
print(f'We can either tailor a wine to your liking, or randomly generate a list of highly rated wines.')

----------------------------
Welcome to our Wine-Database.
We can help you find a wine from 101357 wine-reviews from 12 countries.
These wine are from 2004 to 2016 with a price range of $4 to $3300.
We can either tailor a wine to your liking, or randomly generate a list of highly rated wines.

In [13]:
#checking loc function to elimiate rows

test_df = df.loc[df["Price"] < 20 + 0.1]
print(f'The maximum price is {max(test_df["Price"])}.')

The maximum price is 20.

In [14]:
list_of_countires = df["Country"].unique()

In [15]:
if "US" in list_of_countires:
    print("It exists")

It exists

In [20]:
#Our Program

first_answer = input("Type 'Yes' if you want us to help you find a wine, 'No' if you just want to see a random list of recommended wine: ")

if first_answer.lower() =="yes":
    #print("It works!")
    second_answer = input("What is your price limit?” Either type the dollar amount, or type skip if you have too much money: ")
    
    if second_answer.isdigit() == True:
        #print("Thank God it's all numbers!")
        #print(type(second_answer))
        new_df = df.loc[df["Price"] < int(second_answer) + 0.1]
        print_remaining_wine(new_df)
        print("")
        print(new_df["Country"].unique())
        third_answer = input("What country's wine do you prefer? If you have no preference, type 'skip': " )
        
        if third_answer in new_df["Country"].unique():
            second_new_df = new_df.loc[new_df["Country"] == third_answer]
            print_remaining_wine(second_new_df)
            
            #third_new_df = second_new_df.loc[second_new_df["Grade"] == max_score(second_new_df)]
            third_new_df = second_new_df.loc[second_new_df["Grade"] > median_score(second_new_df)]
            third_new_df = third_new_df.reset_index(drop=True)
            #print(max_score(third_new_df))
            #print_remaining_wine(third_new_df)
            choice_wine = pick_a_wine(third_new_df)
            print_wine_info(third_new_df, choice_wine)
            print(choice_wine)
            


            # Configure gmaps with API key
            gmaps.configure(api_key=google_api_key)


            # Store 'Lat' and 'Lng' into  locations
            lat = (third_new_df.loc[choice_wine,: "Latitude"])["Latitude"]
            long = (third_new_df.loc[choice_wine,: "Longitude"])["Longitude"]              
            print(lat)
            print(long)
            location = [(lat, long)]
            print(location)
            
            winery_layer = gmaps.marker_layer(location)



        
        elif third_answer.lower() == "skip":
            second_new_df = new_df
            print_remaining_wine(second_new_df)
        #else:
            #print("The country does not exist.")
        
        elif third_answer not in new_df["Country"].unique():
            wrong_answer = input("Please pick the country in the list, or type 'skip': ")
            third_answer = wrong_answer
            if third_answer in new_df["Country"].unique():
                second_new_df = new_df.loc[new_df["Country"] == third_answer]
                print_remaining_wine(second_new_df)
                
                
            elif third_answer.lower() == "skip":
                second_new_df = new_df
                print_remaining_wine(second_new_df)
        
    elif second_answer.lower() == "skip":
        #print("It works!")
        new_df = df
        print_remaining_wine(new_df)

    elif second_answer.isdigit() == False:
        wrong_answer = input("Please only type numbers: ")
        second_answer = wrong_answer
        if second_answer.isdigit() == True:
            #print("Thank God it's all numbers!")
            #print(type(second_answer))
            new_df = df.loc[df["Price"] < int(second_answer) + 0.1]
            print_remaining_wine(new_df)
    
    
if first_answer.lower() == "no":
    random_wine_generator = []
 
    for i in range(3):
        rnum = randrange(len(df["Title"])-1)
        random_wine_generator.append(rnum)
    
    first_random_wine = random_wine_generator[0]
    second_random_wine = random_wine_generator[1]
    third_random_wine = random_wine_generator[2]
        
    print("----------------------")
    print_wine_info(df, first_random_wine)
    print("")
    print_wine_info(df, second_random_wine)
    print("")
    print_wine_info(df, third_random_wine)
    print("----------------------")

Type 'Yes' if you want us to help you find a wine, 'No' if you just want to see a random list of recommended wine: Yes
What is your price limit?” Either type the dollar amount, or type skip if you have too much money: 20
   Total Number of Wine Reviews  Total Number of Wineries  \
0                         37728                      8834

   Total Number of Provinces  Total Number of Countries  \
0                        192                         12

   Total Number of Years  Total Number of Tasters
0                     13                       18
What country's wine do you prefer? If you have no preference, type 'skip': skip
We can help you find a wine from 37834 wine-reviews from 12 countries.
These wine are from 2004 to 2016 with a price range of $4 to $20.

In [17]:
fig = gmaps.figure()
print(location) 
marker_layer = gmaps.marker_layer(location)
fig.add_layer(marker_layer)
fig

[(38.722252399999995, -9.1393366)]

Figure(layout=FigureLayout(height='420px'))

In [110]:
fig = gmaps.figure()
marker_layer = gmaps.marker_layer([(47.7510741000, -120.7401385)])
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [97]:

third_new_df = third_new_df.reset_index(drop=True)

third_new_df

,Title,Variety,Year,Price,Grade,Winery,Province,Region,Country,Taster,Taster_Twitter,Description
0,Rulo 2007 Syrah (Columbia Valley (WA)),Syrah,2007,20,96,Rulo,Washington,Columbia Valley (WA),US,Paul Gregutt,@paulgwine,"Superb fruit highlights this tight, sculpted S..."

In [74]:
from random import *

test = []
 
for i in range(3):
    rnum = randrange(len(df["Title"])-1)
    test.append(rnum)
    
print(test)

test[0]

[96558, 53869, 21457]

96558

In [75]:
print(randrange(100))

70

In [8]:
len(df["Title"])

101725

In [9]:
test2 = df.loc[0,: 'Title']

print(test2)

Title    Quinta dos Avidagos 2011 Avidagos Red (Douro)
Name: 0, dtype: object

In [10]:
print(test2["Title"])

Quinta dos Avidagos 2011 Avidagos Red (Douro)

In [11]:
for index, row in df.iterrows():
    if index == 101724:
        print((df.loc[index,: "Title"])["Title"])

Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caroline Gewurztraminer (Alsace)

In [26]:
#skip = Skipping the criteria
#random = Skipping the random
#Yes = Starting the program

In [27]:
list_of_prices = df["Price"]

In [ ]:
type(list_of_prices[0])

In [ ]:
list_of_years = df["Year"]
type(list_of_years[0])