In [1]:
#importing the wine CSV file into a DataFrame

import pandas as pd

file = pd.read_csv("winedata.csv")

file.head(1)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [2]:
#Creating a new list that contains all Titles. 

title_list = [title for title in file["title"]]
len(title_list)

129971

In [3]:
#Confirming titles in the new list. 

print(title_list[0])
print(title_list[len(title_list)-1])

Nicosia 2013 Vulkà Bianco  (Etna)
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caroline Gewurztraminer (Alsace)

In [4]:
#This function is to check if the particular string contains any numbers(or digits)

def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString) 

counter = 0 #counter will track the number of the looping
year_list = [] #this is the list that will contain the years out of titles. 
multiple_numbers_list = [] #this is in case a title has more than one number in it
none_years_list = [] #this is to count the number of Titles that have numbers, but no Year in them.
no_numbers_list = [] #this is to count the number of Titles that have no numbers in them. 


for title in title_list: #looping through entire titles
    title_strings_list = [] #this will hold the strings of each title, and reset before next looping.
    title_numbers_list = [] #this will hold the numbers from each title, and reset before next looping. 
    year_numbers_list = [] #this will hold the years between 1700 - 2019, if they exist in a title, and reset before next looping. 
    for x in title.split(): #to seperate a title into its string elements. 
        title_strings_list.append(x) 
    if hasNumbers(title_strings_list) == True: #if the strings in the title contains number
        for y in title_strings_list:
            if y.isdigit():
                title_numbers_list.append(int(y)) #only appending numbers from the list
        year_numbers_list = [i for i in title_numbers_list if 1700 < i < 2019] #only picking numbers between 1700-20019
        if len(year_numbers_list) == 1: #if there is only one number between 1700-2019
            year_list.append([counter, year_numbers_list[0]]) #i am adding counter to track which title correspond to which year
        elif len(year_numbers_list) > 1: #if there are more than 1 number between 1700-2019
            multiple_numbers_list.append(counter) #i am just compiling the list of these titles to examine them later.
        elif len(year_numbers_list) == 0: #if there are no numbers between 1700-2019
            none_years_list.append(counter) #i am just compiling the list of these titles to examine them later.
    if hasNumbers(title_strings_list) == False: #if the title has numbers in it
        no_numbers_list.append(counter) #i am just compiling the list of these titles to examine them later.
    counter = counter + 1 #to track titles

#Summary
print(f'The last Title in the list can be broken down to following strings: {title_strings_list}.')
print(f'The list of numbers from the last Title is(are): {title_numbers_list}.')
print(f'The list has the following number between 1700 and 2019: {year_numbers_list}.')
print(f'The Title is from following row, and its corresponding Year is: {year_list[len(year_list)-1]}.')
print(f'This is the total number of titles: {len(title_list)}.')
print(f'This is the total number of title that has single Year: {len(year_list)}.')
print(f'This is the total number of title that has multiple Years: {len(multiple_numbers_list)}.')
print(f'This is the total number of title that has numbers, but not Years: {len(none_years_list)}.')
print(f'This is the total number of title that has no numbers: {len(no_numbers_list)}.')
print(f'This is the sum of all years/non-years: {len(year_list) + len(multiple_numbers_list) + len(no_numbers_list) + len(none_years_list)}.')

The last Title in the list can be broken down to following strings: ['Domaine', 'Schoffit', '2012', 'Lieu-dit', 'Harth', 'Cuvée', 'Caroline', 'Gewurztraminer', '(Alsace)'].
The list of numbers from the last Title is(are): [2012].
The list has the following number between 1700 and 2019: [2012].
The Title is from following row, and its corresponding Year is: [129970, 2012].
This is the total number of titles: 129971.
This is the total number of title that has single Year: 125033.
This is the total number of title that has multiple Years: 327.
This is the total number of title that has numbers, but not Years: 222.
This is the total number of title that has no numbers: 4389.
This is the sum of all years/non-years: 129971.

In [12]:
#Examples of Numbers that are not Years

empty_list = []
for x in range(0, 5):
    empty_list.append(none_years_list[x])

In [13]:
for x in empty_list:
    print(title_list[x])

Chanoine NV Tzarina No 1 Brut  (Champagne)
Quinta dos Murças NV 10 Anos Old Tawny  (Port)
Rare NV 4 Grape Blend Red (California)
Marietta Cellars NV Arme Lot Number 3 Red (North Coast)
Delaforce NV Curious & Ancient 20 Years  (Port)

In [12]:
#counting the maximum and minimum year in the new year_list

just_years = [index[1] for index in year_list]
max_year = (max(just_years))
min_year = (min(just_years))

print(f'This is the year for the newest Wine: {max_year}.')
print(f'This is the year for the oldest Wine: {min_year}.')

This is the year for the newest Wine: 2017.
This is the year for the oldest Wine: 1821.

In [13]:
#Double checking the titles of the wines from the year 2017. 

max_years = [index[0] for index in year_list if index[1] == max_year]

for x in max_years:
    print(title_list[x])

Zolo 2017 Sustainably Farmed Estate Grown and Bottled Torrontés (Mendoza)
Zolo 2017 Sustainably Farmed Estate Grown and Bottled Rosé (Mendoza)
Viña Casablanca 2017 Cefiro Reserva Chardonnay (Casablanca Valley)
Domaine Bousquet 2017 Made With Organic Grapes Sauvignon Blanc (Tupungato)
Bouza 2017 Albariño (Montevideo)
Santa Carolina 2017 Reserva Leyda Estate Sauvignon Blanc (Leyda Valley)
Zolo 2017 Sustainably Farmed Estate Grown and Bottled Sauvignon Blanc (Mendoza)
Domaine Bousquet 2017 Cameleon Made With Organic Grapes Chardonnay (Tupungato)
Casa Perini 2017 Macaw Aromatic Soft Moscato (Serra Gaúcha)
Domaine Bousquet 2017 Made With Organic Grapes Chardonnay (Tupungato)
Tres Palacios 2017 Reserve Sauvignon Blanc (Maipo Valley)

In [14]:
#Double checking the titles of the wines from the year 1821. 

min_years = [index[0] for index in year_list if index[1] == min_year]

for x in min_years:
    print(title_list[x])

Zonin NV Cuvèe 1821 Brut  (Prosecco)
Zonin NV Cuvèe 1821  (Prosecco)
Zonin NV Cuvée 1821 Brut  (Prosecco)
Zonin NV Cuvée 1821 Brut  (Prosecco)

## Unlikely these wines are from 1800. Also, most of them have the year made listed first

In [16]:
#Re-running the for loops to look for wines made in recent years. 

def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString) 

counter = 0
year_list = []
multiple_numbers_list = []
none_years_list = []
no_numbers_list = []

for title in title_list:
    title_strings_list = []
    title_numbers_list = []
    year_numbers_list = []
    for x in title.split():
        title_strings_list.append(x)
    if hasNumbers(title_strings_list) == True:
        for y in title_strings_list:
            if y.isdigit():
                title_numbers_list.append(int(y))
        year_numbers_list = [i for i in title_numbers_list if 1970 < i < 2019] #only looking from 1970 or newer.
        if len(year_numbers_list) == 1:
            year_list.append([counter, year_numbers_list[0]])
        elif len(year_numbers_list) > 1:
            multiple_numbers_list.append(counter)
        elif len(year_numbers_list) == 0:
            none_years_list.append(counter)
    if hasNumbers(title_strings_list) == False:
        no_numbers_list.append(counter)
    counter = counter + 1

#Summary
print(f'The last Title in the list can be broken down to following strings: {title_strings_list}.')
print(f'The list of numbers from the last Title is(are): {title_numbers_list}.')
print(f'The list has the following number between 1700 and 2019: {year_numbers_list}.')
print(f'The Title is from following row, and its corresponding Year is: {year_list[len(year_list)-1]}.')
print(f'This is the total number of titles: {len(title_list)}.')
print(f'This is the total number of title that has single Year: {len(year_list)}.')
print(f'This is the total number of title that has multiple Years: {len(multiple_numbers_list)}.')
print(f'This is the total number of title that has numbers, but not Years: {len(none_years_list)}.')
print(f'This is the total number of title that has no numbers: {len(no_numbers_list)}.')
print(f'This is the sum of all years/non-years: {len(year_list) + len(multiple_numbers_list) + len(no_numbers_list) + len(none_years_list)}.')

The last Title in the list can be broken down to following strings: ['Domaine', 'Schoffit', '2012', 'Lieu-dit', 'Harth', 'Cuvée', 'Caroline', 'Gewurztraminer', '(Alsace)'].
The list of numbers from the last Title is(are): [2012].
The list has the following number between 1700 and 2019: [2012].
The Title is from following row, and its corresponding Year is: [129970, 2012].
This is the total number of titles: 129971.
This is the total number of title that has single Year: 125307.
This is the total number of title that has multiple Years: 14.
This is the total number of title that has numbers, but not Years: 261.
This is the total number of title that has no numbers: 4389.
This is the sum of all years/non-years: 129971.

## Only 14 wines have multiple years in their titles between 1970-2019, i will examine them further.

In [17]:
#Examples of Wines that have multiple years in their titles,

titles_with_multiple_years = []

for x in multiple_numbers_list:
    titles_with_multiple_years.append(title_list[x])

for y in range (0, 14):
    print(titles_with_multiple_years[y])

Arndorfer 2013 Von Den Terrassen 1979 Roter Veltliner (Niederösterreich)
Owen Roe 2014 1973 Block Red Willow Vineyard Cabernet Sauvignon (Yakima Valley)
Arndorfer 2014 Terrassen 1979 Roter Veltliner (Austria)
Owen Roe 2010 Red Willow Vineyard 1973 Block Cabernet Sauvignon (Yakima Valley)
Waterford 2015 Cape Winemakers Guild 1988 Kept Aside Chardonnay (Stellenbosch)
Martinez Bujanda 1998 Conde de Valdemar Crianza 1998  (Rioja)
Otanon 1998 Crianza 1998  (Rioja)
Bollinger 2003 2003 by Bollinger Brut  (Champagne)
Waterford 2016 Cape Winemakers Guild 1988 Kept Aside Chardonnay (Stellenbosch)
Terlan 2004 Rarità 2004 Pinot Bianco (Alto Adige)
Hermann J. Wiemer 1997 Cuvée Brut 2000  (Finger Lakes)
Owen Roe 2008 Red Willow Vineyard 1973 Block Cabernet Sauvignon (Yakima Valley)
Tuck Beckstoffer 2013 Est. 1975 Sauvignon Blanc (California)
Arndorfer 2013 Von Den Terrassen 1979 Roter Veltliner (Niederösterreich)

## All of them have Year made listed first, except "Hermann J. Wiemer 1997 Cuvée Brut 2000  (Finger Lakes)"

In [18]:
#finding the row number for the "Hermann J. Wiemer 1997 Cuvée Brut 2000  (Finger Lakes)" wine. 

multiple_numbers_list[10]

102843

In [19]:
#verifying the Title
title_list[102843]

'Hermann J. Wiemer 1997 Cuvée Brut 2000  (Finger Lakes)'

In [20]:
#final run - but this time, I will just put together the list of Years and "N/A"

def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString) 

counter = 0
year_list = []
multiple_numbers_list = []
none_years_list = []
no_numbers_list = []

for title in title_list:
    title_strings_list = []
    title_numbers_list = []
    year_numbers_list = []
    for x in title.split():
        title_strings_list.append(x)
    if hasNumbers(title_strings_list) == True:
        for y in title_strings_list:
            if y.isdigit():
                title_numbers_list.append(int(y))
        year_numbers_list = [i for i in title_numbers_list if 1970 < i < 2019]
        if len(year_numbers_list) >= 1:
            year_list.append(year_numbers_list[0]) #All but one titles have the Year listed first. 
        #elif len(year_numbers_list) > 1:
            #multiple_numbers_list.append(counter)
        elif len(year_numbers_list) == 0:
            year_list.append("N/A")
    if hasNumbers(title_strings_list) == False:
        year_list.append("N/A")
    counter = counter + 1

print(f'The total number of years is: {len(year_list)}.')
print(f'The total number of titles is: {len(title_list)}.')

The total number of years is: 129971.
The total number of titles is: 129971.

In [22]:
#replacing "Hermann J. Wiemer 1997 Cuvée Brut 2000  (Finger Lakes)" year from 1997 to 2000
year_list[102843] = 2000

year_list[102843]

2000

In [23]:
#double checking the new years_list
print(year_list[102842])
print(year_list[102844])

1997
N/A

In [24]:
#adding the new list to the existing DataFrame. 

file["year"] = year_list
file.head(1)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,year
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,2013